@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

.fa-edit {
    color: teal;
}

.fa-trash-alt, .fa-times-circle {
    color: red;
}

.fa-check-circle, .fa-dollar-sign {
    color: green;
}
