<h2>Payment Information</h2>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Street Address</th>
                <th>Room Number</th>
                <th>Rent Cost</th>
                <th>Amount Paid</th>
                <th>Payment Date</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tr *ngFor="let record of payments">
            <td (click)="updatePayment(payment.id)"><i class="fas fa-dollar-sign" tooltip="Update Payment"></i></td>
            <td>{{ record.tenant.person.firstName }}</td>
            <td>{{ record.tenant.person.lastName }}</td>
            <td>{{ record.tenant.apartment.address.streetAddress }}</td>
            <td>{{ record.tenant.apartment.roomNumber }}</td>
            <td>{{ record.tenant.apartment.rentCost | currency:'USD':true }}</td>
            <td>{{ record.payment.amount | currency:'USD':true }}</td>
            <td>{{ record.payment.date | date:'shortDate' }}</td>
            <td>{{ record.payment.balance | currency:'USD':true }}</td>
        </tr>
    </table>
</div>