<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()">&times;</button>
            <h4 class="modal-title">{{ title }}</h4>
        </div>
        <div class="modal-body">
            <form [formGroup]="buildingInfoForm" (ngSubmit)="saveBuilding()">
                <div class="form-group">
                    <label for="streetAddress">Street Address</label>
                    <input type="text"
                           class="form-control"
                           formControlName="Street_Address"
                           placeholder="Enter Street Name"
                           (input)="buildingInfo.address.streetAddress = $event.target.value">
                    <show-errors [control]="buildingInfoForm.controls.Street_Address"></show-errors>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text"
                           class="form-control"
                           formControlName="City"
                           placeholder="Enter City"
                           (input)="buildingInfo.address.city = $event.target.value">
                    <show-errors [control]="buildingInfoForm.controls.City"></show-errors>
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <input type="text"
                           class="form-control"
                           formControlName="State"
                           placeholder="Enter State"
                           (input)="buildingInfo.address.state = $event.target.value">
                    <show-errors [control]="buildingInfoForm.controls.State"></show-errors>
                </div>
                <div class="form-group">
                    <label for="zip">Zip</label>
                    <input type="text"
                           class="form-control"
                           formControlName="Zip_Code"
                           placeholder="Enter Zip Code"
                           (input)="buildingInfo.address.zipCode = $event.target.value">
                    <show-errors [control]="buildingInfoForm.controls.Zip_Code"></show-errors>
                </div>
                <div class="form-group">
                    <label for="roomNumber">Room Number</label>
                    <input type="text"
                           class="form-control"
                           formControlName="Room_Number"
                           placeholder="Enter Room Number"
                           (input)="buildingInfo.roomNumber = $event.target.value">
                    <show-errors [control]="buildingInfoForm.controls.Room_Number"></show-errors>
                </div>
                <div class="form-group">
                    <label for="securityDeposit">Security Deposit</label>
                    <input type="text"
                           class="form-control"
                           formControlName="Security_Deposit"
                           placeholder="Enter Security Deposit"
                           (input)="buildingInfo.securityDeposit = $event.target.value">
                    <show-errors [control]="buildingInfoForm.controls.Security_Deposit"></show-errors>
                </div>
                <div class="form-group">
                    <label for="rentCost">Rent Cost</label>
                    <input type="text"
                           class="form-control"
                           formControlName="Rent_Cost"
                           placeholder="Enter Rent Cost"
                           (input)="buildingInfo.rentCost = $event.target.value">
                    <show-errors [control]="buildingInfoForm.controls.Rent_Cost"></show-errors>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!buildingInfoForm.valid">Submit</button>
                <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
            </form>
        </div>
    </div>
</div>