<h2>Tenant Information</h2>
<button class="btn btn-primary" (click)=addTenant() tooltip="Add Tenant"><i class="fas fa-plus"></i></button>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Room Number</th>
                <th>Phone Number</th>
                <th>Rent Cost</th>
                <th>Security Deposit</th>
                <th>Billing Period</th>
            </tr>
        </thead>
        <tr *ngFor="let tenant of tenants">
            <td (click)="updateTenant(tenant.id, tenant.apartment.id)"><i class="fas fa-edit" tooltip="Edit"></i></td>
            <td (click)="deleteTenant(tenant.id)"><i class="fas fa-trash-alt" tooltip="Delete"></i></td>
            <td>{{ tenant.person.firstName }}</td>
            <td>{{ tenant.person.lastName }}</td>
            <td>{{ tenant.apartment.address.streetAddress }}</td>
            <td>{{ tenant.apartment.address.city }}</td>
            <td>{{ tenant.apartment.address.state }}</td>
            <td>{{ tenant.apartment.address.zipCode }}</td>
            <td>{{ tenant.apartment.roomNumber }}</td>
            <td>{{ tenant.person.personContact.phoneNumber | phone }}</td>
            <td>{{ tenant.apartment.rentCost | currency:'USD':true }}</td>
            <td>{{ tenant.apartment.securityDeposit | currency:'USD':true }}</td>
            <td>{{ tenant.startBillingCycle.billingMonth }} {{ tenant.startBillingCycle.billingYear }} - {{ tenant.endBillingCycle.billingMonth }} {{ tenant.endBillingCycle.billingYear }}</td>
        </tr>
    </table>
</div>